<div role="tabpanel">
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li role="presentation" ng-click="selectTab(0)" ng-class="{'active':selectedTab == 0}">
      <a data-target="#tab" role="tab" data-toggle="tab">{{ 'employeeDetails.tab0Title' | translate }}</a>
    </li>
    <li role="presentation" ng-click="selectTab(1)" ng-class="{'active':selectedTab == 1}">
      <a data-target="#tab" role="tab" data-toggle="tab">{{ 'employeeDetails.tab1Title' | translate }}</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab1" ng-show="selectedTab == 0">
      <ng-include src="'app/employeeDetail/employeeDetailTab1-portrait.html'"></ng-include>
    </div>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab2" ng-show="selectedTab == 1">
      <ng-include src="'app/employeeDetail/employeeDetailTab2-portrait.html'"></ng-include>
    </div>
  </div>
</div>