<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ 'employeeDetails.tab1Title' | translate }}: {{ 'employeeDetails.title' | translate }} <span ng-bind="employee.personnelNumber"></span>
        </h3>
      </div>
      <!-- /.box-header -->

      <div class="row">
        <div class="col-xs-8">
          <table class="table table-condensed table-striped table-bordered table-hover" ng-if="employee.postalAddresses">
            <thead>
            <tr>
              <th translate="employeePostalAddress.ranking.label"></th>
              <th translate="employeePostalAddress.address.label"></th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="postalAddress in employee.postalAddresses" ng-click="showAddress($index)">
              <td>{{postalAddress.ranking}}</td>
              <td>
                {{postalAddress.street}} {{postalAddress.houseNumber}}<br >
                {{postalAddress.postalCode}} {{postalAddress.city}}<br >
                {{postalAddress.countryCode}}
              </td>
              <td><a class="btn btn-danger btn-sm" ng-disabled="loading" ng-click="deleteAddress($index)">{{ 'common.delete' | translate }}</a></td>
            </tr>
            </tbody>
          </table>
          <div class="alert alert-info" ng-if="employee.postalAddresses.length === 0" translate="employeePostalAddress.noAddresses"></div>
        </div>
        <div class="col-xs-4">
          <a class="btn btn-success" style="width:80%" ng-disabled="!employee.postalAddresses || loading" ng-click="addAddress()">
            <span class="fa fa-plus"></span> <span translate="employeePostalAddress.add"></span></a>
          <br />
          <a class="btn btn-success" style="width:80%" ng-disabled="!employee.postalAddresses || loading || employeeAddressForm.$invalid || employeeAddressForm.$pristine" ng-click="saveAddress()">
            <span class="fa fa-save"></span> <span translate="employeePostalAddress.save"></span></a>
          <br />
          <a class="btn btn-success" style="width:80%" ng-disabled="!employee.postalAddresses || loading || employeeAddressForm.$pristine" ng-click="refreshAddresses()">
            <span class="fa fa-refresh"></span> <span translate="employeePostalAddress.refresh"></span></a>
        </div>
      </div>

      <!-- form start -->
      <form role="form" name="employeeAddressForm" ng-submit="save()">
        <div class="box-body">

          <div class="row">
            <div class="col-xs-6 form-group"
                 ng-class="{'has-success': employeeAddressForm.postalCode.$dirty && employeeAddressForm.postalCode.$valid, 'has-error': employeeAddressForm.postalCode.$dirty && employeeAddressForm.postalCode.$invalid}">
              <label for="postalCode" translate="employeePostalAddress.postalCode.label"
                     class="control-label"></label>
              <input id="postalCode" name="postalCode" ng-model="employee.postalAddresses[currentPostalAddressIndex].postalCode"
                     class="form-control" type="text" required ng-minlength="1" ng-maxlength="20"
                     placeholder="{{ 'employeePostalAddress.postalCode.placeholder' | translate }}" />
              <span class="glyphicon form-control-feedback"
                    ng-class="{'glyphicon-ok': employeeAddressForm.postalCode.$dirty && employeeAddressForm.postalCode.$valid, 'glyphicon-remove': employeeAddressForm.postalCode.$dirty && employeeAddressForm.postalCode.$invalid}"></span>
            </div>
            <div class="col-xs-6 form-group"
                 ng-class="{'has-success': employeeAddressForm.city.$dirty && employeeAddressForm.city.$valid, 'has-error': employeeAddressForm.city.$dirty && employeeAddressForm.city.$invalid}">
              <label for="city" translate="employeePostalAddress.city.label"
                     class="control-label"></label>
              <input id="city" name="city" ng-model="employee.postalAddresses[currentPostalAddressIndex].city"
                     class="form-control" type="text" required ng-minlength="1" ng-maxlength="20"
                     placeholder="{{ 'employeePostalAddress.city.placeholder' | translate }}" />
              <span class="glyphicon form-control-feedback"
                    ng-class="{'glyphicon-ok': employeeAddressForm.city.$dirty && employeeAddressForm.city.$valid, 'glyphicon-remove': employeeAddressForm.city.$dirty && employeeAddressForm.city.$invalid}"></span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 form-group"
                 ng-class="{'has-success': employeeAddressForm.street.$dirty && employeeAddressForm.street.$valid, 'has-error': employeeAddressForm.street.$dirty && employeeAddressForm.street.$invalid}">
              <label for="street" translate="employeePostalAddress.street.label"
                     class="control-label"></label>
              <input id="street" name="street" ng-model="employee.postalAddresses[currentPostalAddressIndex].street"
                     class="form-control" type="text" required ng-minlength="1" ng-maxlength="20"
                     placeholder="{{ 'employeePostalAddress.street.placeholder' | translate }}" />
              <span class="glyphicon form-control-feedback"
                    ng-class="{'glyphicon-ok': employeeAddressForm.street.$dirty && employeeAddressForm.street.$valid, 'glyphicon-remove': employeeAddressForm.street.$dirty && employeeAddressForm.street.$invalid}"></span>
            </div>
            <div class="col-xs-6 form-group"
                 ng-class="{'has-success': employeeAddressForm.houseNumber.$dirty && employeeAddressForm.houseNumber.$valid, 'has-error': employeeAddressForm.houseNumber.$dirty && employeeAddressForm.houseNumber.$invalid}">
              <label for="houseNumber" translate="employeePostalAddress.houseNumber.label"
                     class="control-label"></label>
              <input id="houseNumber" name="houseNumber" ng-model="employee.postalAddresses[currentPostalAddressIndex].houseNumber"
                     class="form-control" type="text" required ng-minlength="1" ng-maxlength="20"
                     placeholder="{{ 'employeePostalAddress.houseNumber.placeholder' | translate }}" />
              <span class="glyphicon form-control-feedback"
                    ng-class="{'glyphicon-ok': employeeAddressForm.houseNumber.$dirty && employeeAddressForm.houseNumber.$valid, 'glyphicon-remove': employeeAddressForm.houseNumber.$dirty && employeeAddressForm.houseNumber.$invalid}"></span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 form-group"
                 ng-class="{'has-success': employeeAddressForm.countryOfBirth.$dirty && employeeAddressForm.countryOfBirth.$valid, 'has-error': employeeAddressForm.countryOfBirth.$dirty && employeeAddressForm.countryOfBirth.$invalid}">
              <label for="countryCode" translate="employeePostalAddress.countryCode.label"
                     class="control-label"></label>
              <select id="countryCode" name="countryCode" ng-model="employee.postalAddresses[currentPostalAddressIndex].countryCode"
                      class="form-control"
                      ng-options="v as ('employeePostalAddress.countryCode.value_' + v) | translate for v in countryCodes"
                      required>
                <option value="" translate="employeePostalAddress.countryCode.placeholder"></option>
              </select>
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': employeeAddressForm.countryOfBirth.$dirty && employeeAddressForm.countryOfBirth.$valid, 'glyphicon-remove': employeeAddressForm.countryOfBirth.$dirty && employeeAddressForm.countryOfBirth.$invalid}"></span>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </form>
    </div>
  </div>
</div>