<div class="row">
  <div class="col-md-3">
    <h4 translate="employeeList.title"></h4>
  </div>
  <div class="col-md-5">
    <input id="searchFilter" type="text" class="form-control"
           ng-model="searchFilter" ng-change="searchFilterChanged()"
           placeholder="{{ 'employeeList.searchFilter_placeholder' | translate }}"
           title="{{ 'employeeList.searchFilter_tooltip' | translate }}">
  </div>
  <div class="col-md-4">
    <a ui-sref="employees.detail" class="btn btn-success" ng-disabled="loading"><i class="fa fa-plus"></i>
      <span translate="employeeList.add"></span></a>
    <a class="btn btn-success" ng-click="listRefresh()" ng-disabled="loading">
      <span class="glyphicon glyphicon-refresh"></span></a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table id="itemTable" class="table table-condensed table-striped table-bordered table-hover" ng-if="employees">
      <thead>
      <tr>
        <th ng-click="orderBy('personnelNumber')"><span translate="employeeList.personnelNumber"></span> <span
            class="glyphicon pull-right"
            ng-class="{'glyphicon-none': predicate!='personnelNumber', 'glyphicon-chevron-up': predicate=='personnelNumber'&&reverse, 'glyphicon-chevron-down': predicate=='personnelNumber'&&!reverse}"></span></th>
        <th ng-click="orderBy('lastName')"><span translate="employeeList.name"></span> <span
            class="glyphicon pull-right"
            ng-class="{'glyphicon-none': predicate!='lastName', 'glyphicon-chevron-up': predicate=='lastName'&&reverse, 'glyphicon-chevron-down': predicate=='lastName'&&!reverse}"></span></th>
        <th ng-click="orderBy('dateOfBirth')"><span translate="employeeList.dateOfBirth"></span> <span
            class="glyphicon pull-right"
            ng-class="{'glyphicon-none': predicate!='dateOfBirth', 'glyphicon-chevron-up': predicate=='dateOfBirth'&&reverse, 'glyphicon-chevron-down': predicate=='dateOfBirth'&&!reverse}"></span></th>
        <th ng-click="orderBy('costCenter.identification')"><span translate="employeeList.costCenter"></span> <span
            class="glyphicon pull-right"
            ng-class="{'glyphicon-none': predicate!='costCenter.identification', 'glyphicon-chevron-up': predicate=='costCenter.identification'&&reverse, 'glyphicon-chevron-down': predicate=='costCenter.identification'&&!reverse}"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="employee in employees | orderBy:predicate:reverse"
          ui-sref="employees.detail({employeeId: employee.oid})">
        <td>{{employee.personnelNumber}}</td>
        <td>{{employee.lastName}}, {{employee.firstName}}</td>
        <td>{{ 'globals.dateFormatMedium' | translate:{date:employee.dateOfBirth} }}</td>
        <td>{{employee.costCenter.identification}}</td>
      </tr>
      </tbody>
      <tfoot>
        <td colspan="4">
          <a class="btn btn-success" ng-disabled="nextPageDisabled()" ng-click="loadMore()"><i class="fa fa-angle-double-right"></i>
            <span translate="common.showMoreButton" translate-value-from="0" translate-value-to="{{ employees.length }}" translate-value-total="{{ totalCount }}"></span></a>
        </td>
    </tfoot>
    </table>
    <div class="alert alert-info" ng-if="employees.length === 0" translate="employeeList.noEntities"></div>
    <div class="alert alert-danger" ng-if="hasError" translate="common.requestError"></div>
  </div>
</div>